<header class="appBar">
  <h1>API Documentation</h1>
</header>
<main class="pageContainer">
  <div class="paper">
    <h2>Answers</h2>
    <hr/>
    <ul class="apiList">
      <li class="apiMethod">
        <details>
          <summary>
            <h3>GET</h3>
            <p>/answers/{image_url}</p>
            <i class="arrowIcon"></i>
          </summary>
          <div>Objasnjenje</div>
        </details>
      </li>
      <li class="apiMethod">
        <details>
          <summary>
            <h3>GET</h3>
            <p>/api/docs</p>
            <i class="arrowIcon"></i>
          </summary>
          <div>Objasnjenje</div>
        </details>
      </li>
    </ul>
  </div>
</main>
